<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <%-include("navbarUser.ejs") %> 

    <div class="container center my-8">
        <div class="container">
            <br />
            <br />
        </div>

        <div class="container">
            <header>
                <div class="p-5 text-center bg-light">
                    <h1 class="mb-3"><%=dt[0].shopname%></h1>
                    <h4 class="mb-3"><%=dt[0].addressline1 + ", " + dt[0].addressline2 %></h4>
                    <h4 class="mb-3">Phone No. - <%=dt[0].mobileno%></h4>
                    <h4 class="mb-3"><%=dt[0].bussinessdomain%></h4>
                    <br />
                </div>
            </header>
        </div>

        <a class="btn btn-danger" href="/stopqueue" >Stop Queue</a>
        <br />
        <br />
        <a class="btn btn-success" href="/adduseradmin">Add User</a>
        <br />
        <br />
        <br />
    </div>
    <div class="table-responsive container">
        <table class="table tableS center">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Username</th>
                    <th>ETA</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0;i<data.length;i++) {%> 
                <tr>
                    <td><%= i+1 %></td>
                    <td><%= data[i].name %></td>
                    <td><%= data[i].ids %></td>
                    <td><%= (i+1)*15 %></td>
                    <td>
                        <a class="btn btn-danger" href="<%= tbname %>/<%= data[i].name %>/<%= data[i].ids %>">Remove</a>
                    </td>
                </tr>
                <%}%>
            </tbody>
        </table>
    </div>










    <!-- MDB -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>